@import '../common/variables';

$header-height: 64px;

.my-layout {
  // Left Sider
  .my-sider {
    bottom: 0;
    height: 100vh;
    left: 0;
    overflow: auto;
    position: sticky;
    top: 0;

    // Left Sider Top Header
    .my-sider-header {
      background: rgb(255 255 255 / 20%); // TODO: DELETE
      color: #fff;
      height: calc($header-height / 2);
      line-height: calc($header-height / 2);
      margin: calc($header-height / 4);
      text-align: center;
    }
  }

  // Right Contnet
  .my-content {
    $content-padding: 24px;

    // Right Contnet Bottom Content Wrap
    &-warp {
      margin-top: $header-height;
      overflow: initial;

      // Right Contnet True Content
      .my-content-true-content {
        min-height: calc(100vh - $header-height);
        padding: $content-padding;
      }
    }

    // Right Drawer Trigger
    .my-drawer-trigger {
      position: fixed;
      right: $content-padding;
      top: 50%;
      transform: scale(2);

      svg {
        transition: all 0.5s;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    // Back to Top button
    .my-back-to-top {
      right: $content-padding * 2;

      button {
        height: 40px !important;
        padding: 0 !important;
        width: 40px !important;
      }
    }
  }

  // Header ( Right Contnet Top Header )
  .my-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 2;

    &-right-space {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      position: fixed;
      right: 24px;
    }
  }

  // Right Setting Drawer
  // .my-setting-drawer { }

  // Footer
  .my-footer {
    text-align: center;
  }
}
